/**Primarios - textos*/
$pale-violet: hsl(276, 100%, 81%);
$moderate-violet: hsl(276, 55%, 52%);
$desaturated-dark: hsl(271, 15%, 43%);
$grayish-blue: hsl(206, 6%, 79%);
$very-dark-desaturated-violet: hsl(271, 36%, 24%);
$dark-grayish-violet: hsl(270, 7%, 64%);

/*Gradientes*/
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);

/*Secundarios*/
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 20%, 96%);
$very-dark-desaturated-violet: hsl(271, 36%, 24%);
$very-light-magenta: hsl(289, 100%, 72%);


$colors: (
  primary-pale-violet: $pale-violet,
  primary-moderate-violet: $moderate-violet,
  primary-desaturated-dark: $desaturated-dark,
  primary-grayish-blue: $grayish-blue,
  primary-very-dark-desaturated-violet: $very-dark-desaturated-violet,
  primary-dark-grayish-violet: $dark-grayish-violet,
  gradient-light-magenta: $light-magenta,
  gradient-light-violet: $light-violet,
  secondary-white:$white,
  secondary-light-grayish-violet:$light-grayish-violet,
  secondary-very-dark-desaturated-violet: $very-dark-desaturated-violet,
  secondary-very-light-magenta: $very-light-magenta
);