@use "../global" as *;
@use "../util" as *;

.mobile {
  border-radius: rem(20);
  min-width: rem(300);
  margin: rem(72) auto;
  position: relative;
  z-index: 1;

  @include mq(large) {
    margin-left: rem(380);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    margin: -12px;
    z-index: -1;
    background-color: var(--secondary-white);
  }

  &-header {
    background-image: linear-gradient(to right, var(--gradient-light-violet), var(--gradient-light-magenta));
    border-top-left-radius: rem(20);
    border-top-right-radius: rem(20);
  }

  &-navbar {
    color: var(--secondary-white);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(10);
    padding: rem(30) rem(16) rem(12);
  }

  &-info {
    display: inherit;
    align-items: center;
    gap: rem(10);

    & img {
      border-radius: 100vw;
      border: rem(1) solid var(--secondary-white);
    }

    & p > span {
      display: block;
        color: rgba($white,.6);
        font-weight: 400;
        font-size: 0.75em;
    }

    &-property {
      margin-left: auto;
    }

    &-icon {
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(black, 0);
    }
  }
}